h1 {
	color: black;
	text-align: center;
	font-family: arial;
	font-size: 36px;
}
h2 {
	color: black;
	text-align: center;
	font-family: arial;
	font-size: 24px;
}
p {
	font-family: arial;
	font-size: 14px;
	text-align: center;
}